<HTML xmlns:tei="http://www.tei-c.org/ns/1.0">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   
      <meta charset="UTF-8"><script type="text/javascript" src="../../scripts/appTB.js"></script><script type="text/javascript" src="../../scripts/transManager.js"></script><script type="text/javascript" src="../../scripts/infoManager.js"></script></head><script type="text/javascript">
          var title = "fr. 1 K.-A.";
          regFragment(title);
          var buildInfo = "Generated for testing purposes on 8/26/2013";
          regBuildInfo(buildInfo);
        </script><body><script type="text/javascript">
            var playName = "Geitones";
            regPlayName(playName);
            var source = "Athenaeus x.xxx";
            regSource(source);
            var fragNumber = "1";
            
            loadTags(fragNumber);
            loadTrans(fragNumber);
        </script>
                  <span id="context">
                        Context 1 2 3 
                        <span id="fragment">
                           
                              <BR>&#957;&#8166;&#957; &#956;&#8050;&#957; &#947;&#8048;&#961; &#7969;&#956;&#8150;&#957; <span id="0">&#960;&#945;&#953;&#948;&#953;&#954;&#8182;&#957;<script type="text/javascript">               
                var position = 0;
                var line = 1;
                var reading = "παιδικῶν";
                var editor = "#Athenaeus";           
                regEntry(position, line, reading, editor);
            </script><script type="text/javascript">               
                    var position = 0;
                    var line = 1;
                    var reading = "περδίκων";
                    var editor = "#Kock";           
                    regEntry(position, line, reading, editor);
                </script></span> TEST TEST
                                 <span id="1">&#948;&#945;&#943;&#962;<script type="text/javascript">               
                var position = 1;
                var line = 1;
                var reading = "δαίς";
                var editor = "#Athenaeus";           
                regEntry(position, line, reading, editor);
            </script><script type="text/javascript">               
                    var position = 1;
                    var line = 1;
                    var reading = "ἅλις";
                    var editor = "#Jacobs";           
                    regEntry(position, line, reading, editor);
                </script></span>
                                 <span id="2">JACOBS READINGREADING<script type="text/javascript">               
                    var position = 2;
                    var line = 1;
                    var reading = "JACOBS READINGREADING";
                    var editor = "#Jacobs";           
                    regEntry(position, line, reading, editor);
                </script><script type="text/javascript">               
                    var position = 2;
                    var line = 1;
                    var reading = "KOCK READING";
                    var editor = "#Kock";           
                    regEntry(position, line, reading, editor);
                </script></span>
                              <BR>
                              <BR>SECOND <span id="3">LINE<script type="text/javascript">               
                    var position = 3;
                    var line = 2;
                    var reading = "LINE";
                    var editor = "Con";           
                    regEntry(position, line, reading, editor);
                </script><script type="text/javascript">               
                    var position = 3;
                    var line = 2;
                    var reading = "LONG";
                    var editor = "Cohn";           
                    regEntry(position, line, reading, editor);
                </script></span> OF TEXT<BR>
                           
                        </span>
                       context 4 5 6 
                     </span>
         
               
   </body><script type="text/javascript">               
                
            loadApp();
            loadContextBox();
            </script></HTML>